:root  {
  --main-color: #FFFFFF;
  --text-color : white ;
  --bg-color : white;
  --secondary-bg: rgb(118, 118, 118) ;
}

img {
  max-height: 10rem;
}

#preview {
  border: 1px solid #dee2e6;
  padding: 0.5em;
  background-color: white;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color:  black;
}

#board {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 200px;
  padding: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid #dee2e6;
  border-top: 0px;
  background: white;
  background-image: linear-gradient( #dee2e6 0.01rem, transparent 0.1em),
  linear-gradient(90deg, #dee2e6 0.01rem, transparent 0.1em);
  background-size: 3em 3em;
}

#board > * {
  cursor: move;
}

#savesInfos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: black;
  border: 1px solid #dee2e6;
  border-top: 0;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;

  background-color: white;
  margin: 0;
}

#categories,
#saves,
#infos,
#savesInfos > h1 {
  border-right: 1px solid #dee2e6;
  margin: 0;
}

#infos,
#savesInfos > h1:last-of-type {
  border-right: none;
}

#categories,
#saves,
#infos {
  border-top: none;
  padding-bottom: 0.5rem;
  max-height: 5em;
  overflow-y: auto;
}

#savesInfos > h1 {
  border-bottom: none;
  text-align: center;
}

li {
  list-style-type: square;
}

.nodeArticle {
  border-radius: 1rem 1rem 2rem 2rem;
  background-color: black;
  color: white;
}

.nodeArticle > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem 0 1rem;
  text-overflow: ellipsis;
}

.nodeArticle > header > img {
  width: 15px;
  height: 15px;
  filter: contrast(300%);
}

.addBtn {
  background-color: white;
  color: black;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 0.25rem;
  text-align: center;
  font-size: 1rem;
}

.addBtn:hover {
  background-color: rgb(118, 118, 118);
  color: white;
}

select {
  background-color: white;
  color: black;
  border: 1px solid rgb(118, 118, 118);
  width: 100%;
  text-align: center;
  font-size: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 0.25em;
  text-transform: uppercase;
}

.saveElement,
.categorieElement {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.saveElement > span,
.categorieElement > span {
  flex-grow: 1;
}

.saveElement > span > input,
.categorieElement > span > input {
  width: 95%;
}

.listElementButton {
  border: none;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  user-select: none;
}

.flex-container {
  list-style: none;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  float: left;
}

.stretch {
  -webkit-align-items: stretch;
  align-items: stretch;
}

.flex-item {
  text-align: center;
}